<!DOCTYPE html>
{% extends "base_generic.html" %}
<html lang="en">
<head>
  {% block title %}<title>Game Detail</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    {% block content %}
    <h3>{{ game }}</h3>
    
    
    <p><a href="{{game.rules_link}}" target=blank>www Link...</a></p> 
    
    <p>{{game.rules_text}}</p>
    
        <ul>  
            <li><a class="text-success" href="{% url 'game-create' %}">Add a New Game</a></li>
            <li><a class="text-primary" href="{% url 'game-update' game.pk %}">Update this Game</a></li>
            <li><a class="text-danger" href="{% url 'game-delete' game.pk %}">Delete this Game</a></li>
        </ul>   
    {% endblock %}
    
</body>
</html>

